<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <title>Mattress Website</title>

    <!-- Third party CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/gridlex.min.css" />

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="styles/main.css">

  </head>
  <body>

{{content}}

  <!-- - - - - -  -Footer type thing - - - - -  -->
  <footer class="grid-center-middle-noGutter-noBottom text-white">
    <div class="col-6">
      <div class="padding-left-right">
        <h6 class="margin-y-none">let's<br>
        <span class="text-yellow">connect</span></h6>
        <p class="margin-bottom-none">Dragonfish bigmouth buffalo squeaker combtooth blenny lampfish orbicular batfish smalltooth sawfish croaker European eel mahseer. Golden trout round whitefish denticle herring rough pomfret man-of-war fish chain pickerel collared dogfish man-of-war fish.</p>
      </div>
    </div>
    <div class="col-6">
      <form class="padding-left-right" method="POST" action="https://formspree.io/emmalucybevan@gmail.com">
        <input type="text" name="name" placeholder="Your name">
        <input type="email" name="email" placeholder="Your email">
        <textarea name="message" placeholder="How many mattresses would you like?"></textarea>
        <button type="submit">SUBMIT</button>
      </form>
    </div>

  </footer>

  </body>
</html>
