/*
* CSS HINTS
*
* For typography we use rems (rem)
* For sections and layouts we use percentages, vh's and vw's (%, vh, vw)
* For anything too small to break a design we use pixels (px)
*/

*{
  /* border: 1px solid #999; */
  box-sizing: border-box;

}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5;

}

.banner{
  min-height: 100vh;
  background-image: url("../images/leaves.jpg");
  background-size: cover;

}

.dog-image{
  background-image: url("../images/dog.jpg");
  background-size: cover;
  background-position: center;
  min-height: 50vh;

}

.bed-image{
  background-image: url("../images/bed.jpg");
  background-size: cover;
  background-position: center;
  min-height: 50vh;

}

.pencil-image{
  background-image: url("../images/pencil.jpg");
  background-size: cover;
  background-position: left -150px;
  min-height: 50vh;

}

/* – - - - HEADERS - - - - -  */

h1{
  font-size: 2rem;
  margin-bottom: 0;

}

h2{
  font-size: 1.75rem;

}

h3{
  font-size: 5rem;

}

h4{
  font-size: 4.5rem;

}

h5{
  font-size: 2rem;
}

h6{
  font-size: 4.5rem;

}

p{


}

/* - - - - QUOTE Section - - - - -  */

.quote{
  min-height: 50vh;

}

.quote p{
  font-size: 1.25;
  opacity:.5;

}

.quote q{
  font-size: 2rem;
  line-height: 1.5;

}

/* - - - - FOOTER Section - - - - -  */

.footer{
  background-color: #192837;
  min-height: 50vh;

}

.footer form *{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 8px;
  border-radius: 2px;
  font-weight: 400;
  outline: none;
  border: none;


}

.footer button{
  background-color: orange;
  color: white;


}


/* - - - - - TEXT HELPERS - - - - -*/

.text-center{
  text-align: center;

}

.text-right{
  text-align: right;

}

.text-white{
  color: white;

}

.text-yellow{
  color: #FFBE00;

}

/* - - - - - FONT HELPERS - - - - -  */

.roboto-regular{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}

.roboto-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}


/* - - - - - SPACING HELPERS - - - - -  */

.padding-left{
  padding-left: 5%;

}

.padding-right{
  padding-right: 5%;

}

.padding-left-right{
  padding-left: 5%;
  padding-right: 5%;

}

.margin-y-none{
  margin-top:0;
  margin-bottom: 0;

}

.margin-x-none{
  margin-left:0;
  margin-right: 0;

}

.margin-top-none{
  margin-top: 0;
}

.margin-bottom-none{
  margin-bottom: 0;
}

.margin-top-one{
 margin-top:1rem;
}

/*
.roboto-light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

} */
